<div layout="column">
    <div class="exams">
        <h4>EXAMS TAKEN:</h4>
        <ul id="examsTaken">

            <li>Series 6</li>
            <li>Series 7</li>
        </ul>
        <div class="examsButton">
            Do you want to apply for a new exam?
            <md-button name="addNewExam" class="md-raised md-primary" id="addNewExam" type="button" value="Add New Exam">Apply For New Exam</md-button>
        </div>
    </div>
    <div class="jusrisdictions">
        <h4>JURISDICTIONS REGISTERED:</h4>
        <ul id="jusrisdictionList">
            <li>NY - New York</li>
            <li>NJ - New Jersey</li>
            <li>CT - Connecticut</li>
        </ul>
        <div class="examsButton">
            Do you want to apply for any new jurisdiction?
            <md-button name="addNewJuris" id="addNewJuris" type="button" value="Add New Juris">Apply For New Jurisdiction</md-button>
        </div>
    </div>
    <div class="affiliations">
        <h4>AFFILIATIONS:</h4>
        <ul id="affiliationsList">
            <li>NY - New York</li>
            <li>NJ - New Jersey</li>
            <li>CT - Connecticut</li>
        </ul>
        <div class="examsButton">
            Do you want to apply for any new affiliation?
            <md-button name="addNewAffil" id="addNewAffil" type="button" value="Add New Affil">Apply For New Affiliation</md-button>
        </div>
    </div>
</div>