<md-card style="width:100vw">
    <div>
        <label>{{$ctrl.trainingType}}</label>
    </div>
    <div>
        <md-input-container>
            <label>Payment Amount</label>
            <md-input ng-disabled="true" type="number"> $15.00</md-input>
        </md-input-container>
        <md-input-container>
            <div>
                <md-radio-group ng-model="$ctrl.paymentType">
                    <md-radio-button value="first"  class="md-primary">Debit Ledger</md-radio-button>
                    <md-radio-button value="other"> Pay With Credit Card </md-radio-button>
                </md-radio-group>
            </div>

            <div ng-show="$ctrl.paymentType == 'other'">
                <md-input-container>
                    <label>Credit Card Number</label>
                    <md-input></md-input>
                </md-input-container>
                <md-input-container>
                    <label>Expiration Date</label>
                    <md-datepicker ng-model="myDate" md-placeholder="Enter date"></md-datepicker
                </md-input-container>
            </div>
            </md-input-container>
        <md-button></md-button>
    </div>
</md-card>