<md-card flex>
    <div layout="column">
        <md-list>
            <md-subheader class="md-no-sticky">
                <md-icon>
                    <i class="mdi mdi-lightbulb mdi-24px"></i>
                </md-icon>
                <span>Did you Know?</span>
            </md-subheader>
            <md-list-item >
                <div class="circle urgent" ></div>
                Your FINRA Registration will purge in 15 Days
            </md-list-item>
            <md-list-item>
                <div class="circle caution" ></div>
                Your NY License will expire in 30 Days
            </md-list-item>
            <md-list-item>
                <div class="circle analytic" ></div>
                If you complete the Series 63 Exam you can sell Mutual Funds in NJ.
            </md-list-item>

        </md-list>
    </div>
</md-card>