<div class="md-padding">
    <div role="dialog" aria-label="Training" layout="column" layout-align="center center">
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>Training</h2>
            </div>
        </md-toolbar>

        <div class="demo-dialog-content">
            <p>
                Do you want to
            </p>
        </div>

        <div layout="row" class="demo-dialog-button">
            <span flex></span>
            <md-button md-autofocus class="md-primary" ng-click="ctrl.closeDialog()">
                Start Training
            </md-button>
            <md-button class="md-primary" ng-click="ctrl.createEvent();ctrl.closeDialog();">
                Schedule for Later
            </md-button>
        </div>
    </div>
</div>