<md-card flex>
    <md-content class="md-padding">
        <div layout="column" class="trainings">
            <h4>TRAININGS TAKEN:</h4>
            <ul id="trainingsTaken">

                <li>NYL18016 - New York Life Flexible Premium Fixed Annuity</li>
                <li>NYL18017 - New York Life Guaranteed Lifetime Income Annuity</li>
                <li>NYL18018 - New York Life Income Plus Variable Annuity</li>
            </ul>
            <div class="examsButton">
                Do you want to register for any new training?
                <md-button class="md-raised" name="addNewTraining" id="addNewTraining" type="button" value="Add New Training">Register For New Training</md-button>
            </div>
        </div>
    </md-content>
</md-card>