<div layout="column">
    <md-card flex>
        <h1>What is Missing?</h1>

        <md-list>
            <md-subheader class="md-no-sticky">Training</md-subheader>
            <md-list-item>
                <p> NYL18013 - Variable Annuity Product Training</p>
                <md-button class="md-secondary" ng-click="$ctrl.showDialog()">Apply</md-button>
            </md-list-item>
            <md-subheader class="md-no-sticky">Appointments</md-subheader>
            <md-list-item>
                <p>NYLIAC Life</p>
                <md-button class="md-secondary" ng-click="$ctrl.payForTraining('appt')">Apply</md-button>
            </md-list-item>
            <md-subheader class="md-no-sticky">FINRA Jurisdiction</md-subheader>
            <md-list-item>
                <p>NJ</p>
                <md-button class="md-secondary" ng-click="$ctrl.payForTraining('finra')">Apply</md-button>
            </md-list-item>
        </md-list>
    </md-card>
</div>