<md-card>
    <div>
        <h4>Name: KLINE,MARK B</h4>
        <h4>Producer Id: 0777287</h4>
        <h4>Business Address: 145 ROBERT E LEE BLVD, SUITE 310, EDISON, NJ 08820</h4>
        <h4>Business Phone: (732)432-1645</h4>
        <h4>Residence Address: 235 IDNCIJ H ANW KAGN, JVFJN 522, NYACK, NY 10960</h4>
        <h4>Business Phone: (914)342-0786</h4>
    </div>
    <div>
        <h4>Do you want to make changes to the general information?</h4>
        <span flex></span>
        <md-button name="infoChange" type="button" value="Yes" >Yes</md-button>
    </div>
</md-card>