<md-card flex>
    <md-content class="md-padding">
        <md-input-container layout="row"><label>Name</label> <input ng-model="$ctrl.user.fullName" ng-readonly="$ctrl.readonly"></md-input-container>
        <md-input-container layout="row"><label>Producer Id</label><input ng-model="$ctrl.user.producerId" ng-readonly="$ctrl.readonly"></label></md-input-container>
        <md-input-container layout="row"><label>Business Address</label><input ng-model="$ctrl.user.businessAddress" ng-readonly="$ctrl.readonly"></md-input-container>
        <md-input-container layout="row"><label>Business Phone</label><input ng-model="$ctrl.user.businessPhone" ng-readonly="$ctrl.readonly"></md-input-container>
        <md-input-container layout="row"><label>Residence Address</label><input ng-model="$ctrl.user.residenceAddress" ng-readonly="$ctrl.readonly"></md-input-container>
        <md-input-container layout="row"><label>Residence Phone</label><input ng-model="$ctrl.user.residencePhone" ng-readonly="$ctrl.readonly"></md-input-container>
    </md-content>
    <div layout="row">
        <span flex></span>
        <md-button name="infoChange" type="button" class="md-raised"  ng-click="$ctrl.isEdit = true;$ctrl.readonly=false;" ng-show="!$ctrl.isEdit">Edit</md-button>
        <md-button name="infoSave" type="button" class="md-raised" ng-click="$ctrl.isEdit = false;$ctrl.readonly=true;" ng-show="$ctrl.isEdit">Save</md-button>
    </div>
</md-card>